/* Hero Section */
.hero {
    background: radial-gradient(circle, #512da8 0%, rgba(138, 43, 226, 1) 100%);
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--white);
    position: relative;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 15px;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.hero-content p {
    font-size: 1.1rem;
    margin-bottom: 25px;
    opacity: 0.9;
}

@media (max-width: 600px) {
 

    .hero-content h1 {
        font-size: 1.8rem;
    }

 
}