@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height:calc(100vh - 326px);
  background: linear-gradient(-40deg,
      #e2e2e2, #c9d6ff, #d1c4ff, #e2e2e2);
  background-size: 400% 400%;
  animation: gradientBG 5s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.container {
  position: relative;
  width: 850px;
  height: 550px;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, .2);
  overflow: hidden;
}
.container p{
    font-size: 1px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}
.container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}
.container button{
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}
.form-box {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  color: #333;
  text-align: center;
  padding: 40px;
  z-index: 1;
  transition: .6s ease-in-out 
}

.container.active .form-box {
  right: 50%;
}

.container.active .form-box.register {
  visibility: visible;
}

.form-box.register {
  visibility: hidden;
}

form {
  width: 100%;
}

.container h1 {
  margin: -10px 0;
}

.input-box {
  position: relative;
  margin: 10px 0;
}

.input-box input {
     background-color: #eee;
    border: none;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.input-box input::placeholder {
  color: #888;
  font-weight: 400;
}

.input-box input:focus {
  outline: 2px solid #7494ec;
  box-shadow: 0 0 5px rgba(116, 148, 236, .5);
  transition: .1s;
}

.input-box i {
  color: #888;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.forgot-link {
  margin:  15px;
}

.forgot-link a {
  font-size: 14.5px;
  color: #333;
  text-decoration: none;
}
.container span{
    font-size: 12px;
}
.btn {
  width: 100%;
  height: 48px;
  background: #512da8;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}

.container p {
  font-size: 14.5px;
  margin: 15px 0;
}

.social-icons {
  display: flex;
  justify-content: center;
    margin: 10px 0;
}


.social-icons a.google:hover {
  transform: scale(1.2);
  background: #db4437;
  color: #fff;
  border-color: #db4437;
}

.social-icons a.facebook:hover {
  transform: scale(1.2);
  background: #1877f2;
  color: #fff;
  border-color: #1877f2;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  color: #333;
  text-decoration: none;
  margin: 0 8px;
  transition: all 0.3s ease;
  width: 40px;
  height:40px
}

.toggle-box {
  position: absolute;
  width: 100%;
  height: 100%;
}

.toggle-box::before {
  content: '';
  left: -250%;
  border-radius: 150px;
  position: absolute;
  width: 300%;
  height: 100%;
  background: #512da8;
  z-index: 2;
  transition: .8s ease-in-out;
}

.container.active .toggle-box::before {
  left: 50%;
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition: .6s ease-in-out;
}

.toggle-panel.toggle-left {
  left: 0;
  transition-delay: .3s;
}

.container.active .toggle-panel.toggle-left {
  left: -50%;
  transition-delay: .2s;
}

.toggle-panel.toggle-right {
  right: -50%;
  transition-delay: .2s;
}

.container.active .toggle-panel.toggle-right {
  right: 0;
  transition-delay: .2s;
}

.toggle-panel .btn {
  width: 160px;
  height: 46px;
  background: transparent;
  border: 2px solid #fff;
  box-shadow: none;
}

@media screen and (max-width: 768px) {

  .container {
    height: 100vh ;
  }

  .form-box {
    bottom: 0;
    width: 100%;
    height: 70%;
  }

  .container.active .form-box {
    right: 0;
    bottom: 30%;
  }

  .toggle-box::before {
    left: 0;
    top: -270%;
    width: 100%;
    height: 300%;
    border-radius: 20vw;
  }

  .container.active .toggle-box::before {
    left: 0;
    top: 70%;
  }

  .toggle-panel {
    width: 100%;
    height: 30%;
  }

  .toggle-panel.toggle-left {
    top: 0;
  }

  .container.active .toggle-panel.toggle-left {
    left: 0;
    top: -30%;
  }

  .toggle-panel.toggle-right {
    right: 0;
    bottom: -30%;
  }

  .container.active .toggle-panel.toggle-right {
    bottom: 0;
  }

}

.role-checkbox {
  display: flex;
  align-items: center;
  position: relative;
}

.checkbox-container {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
  display: flex;
  align-items: center;
}


.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 4px;
  transition: 0.3s ease;
  border: 1px solid #ccc;
}

.checkbox-container:hover input ~ .checkmark {
  border-color: #512da8;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #512da8;
  border-color: #512da8;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkmark:after {
  left: 6px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);

}
.vendor-box {
  margin-top: 10px;
  animation: show 0.4s ease;
}

@keyframes show {
  from { opacity: 0; transform: translateY(5px); }
  to { opacity: 1; transform: translateY(0); }
}
.icon {
  cursor: pointer;
  transition: 0.2s;
}

.icon:hover {
  transform: scale(1.1);
}
